[submodule "TicTacToe"]
	path = TicTacToe
	url = https://github.com/BerlinVincent/TicTacToe
[submodule "pack"]
	path = pack
	url = git@github.com:TheRobotFox/pack
[submodule "eve"]
	path = eve
	url = git@github.com:TheRobotFox/eve
